body{
	font-family: 'Raleway', sans-serif;
	color:#6c767e;
	
}

.sessaoAcesso{
	width:100%;
	height:100vh;
	background:url('img/bg-cadastro.png') no-repeat;
	background-size: cover;
}

.ajusteRow{
	min-height: 100vh;
}

.boxCadastro{
	min-height: 48vh;
	border-radius: 8px;
    
}


element.style {
}
.boxCadastro {
    min-height: 48vh;
    border-radius: 8px;
}
.card {
    background: #fff;
    padding: 1rem;
    -webkit-box-shadow: 0px 11px 29px -9px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 11px 29px -9px rgba(0,0,0,0.14);
    box-shadow: 0px 11px 29px -9px rgba(0,0,0,0.14);
}



.logo{
	width: 123px;
	padding: 10px;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.btn-full{
	width: 100%;
}

.btn-laranja{
	color:#fff;
	background-color:#f19021;
}
.mt-5 {
    margin-top: 1rem!important;
    line-height: 4.5rem;
}




a {
    color: #f19021;
    font-weight: bold;
    transition: all 0.2s ease-in;
}
